{% extends 'base.html.twig' %}
{% form_theme form 'theme/poentou_layout.html.twig' %}
{% block body %}
        <div class="container">
          <div class="page-header">
              <h1>{{'poentou.title.name_admin'|trans}}</h1>
          </div>

            <div class="row">
              <div class="col-md-6">
                {% if app.request.get('id') %}

                  <div class="alert alert-danger" role="alert">
                  <p>{{'poentou.title.alert'|trans({'%id%': app.request.get('id')})}}</p>
                    <a href='{{path('admin')}}'>
                      {{'poentou.title.new'|trans}}
                    </a>
                  </div>

                {% endif %}
                  {{form(form)}}
              </div>
            </div>

            <div id="next">
                <table class="table table-striped table-hover">
                  <thead>
          					<th>{{'poentou.results.id'|trans}}</th>
          					<th>{{'poentou.results.name'|trans}}</th>
          					<th>{{'poentou.results.email'|trans}}</th>
          					<th>{{'poentou.results.points'|trans}}</th>
          					<th>{{'poentou.results.action'|trans}}</th>
                  </thead>
                  <tbody>
				                 {% for point in points %}
						                   <tr>
					                          <td>{{ point.id }}</td>
 					                          <td>{{ point.name }}</td>
 					                          <td>{{ point.email }}</td>
                                    <td>{{ point.points }}</td>
                                    <td>
                                      <a href="?id={{point.id}}">
                                        <button type="button" class="btn btn-default">
                                          <span class="glyphicon glyphicon-edit"></span> {{'poentou.results.edit'|trans}}
                                        </button>
                                      </a>
                                      <a href="{{path('remove',{'id':point.id})}}">
                                        <button type="button" class="btn btn-default">
                                          <span class="glyphicon glyphicon-remove"></span> {{'poentou.results.delete'|trans}}
                                        </button>
                                      </a>
                                  </td>
	                            </tr>
                         {% endfor %}
                </tbody>
              </table>
          </div>

        </div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
{% endblock %}
