{% extends 'base.html.twig' %}
{% form_theme form 'theme/poentou_layout.html.twig' %}

{% block body %}
        <div class="container">
          <div class="page-header">
              <h1>{{'poentou.title.name'|trans}}</h1>
          </div>

            <div class="row">
              <div class="col-md-6">
                  {{form(form, {'label_attr': {'class': 'col-sm-4'}})}}
              </div>
            </div>

            <div id="next">
                <table class="table table-striped table-hover">
                  <thead>
          					<th>{{'poentou.results.name'|trans}}</th>
          					<th>{{'poentou.results.points'|trans}}</th>
                  </thead>
                  <tbody>
				                 {% for point in points %}
						                   <tr>
					                          <td>{{ point.name }}</td>
                                    <td>{{ point.points }}</td>
	                            </tr>
                         {% endfor %}
                </tbody>
              </table>
          </div>

        </div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
{% endblock %}
